{% extends "layout.html" %}

{% block title %}{{title}}{% endblock %}
{% block page %}{{title}}{% endblock %}

{{ super() }}




{% block content %}
    
    <h1>Welcome {{current_user.username}}</h1>
    <ul id="nav-mobile" class="right">
        <li><a href="/logout">Logout</a></li>
      </ul>

      <p>{{message}}</p>
      {% if current_user.type == "Admin" %}
        <p> Welcome {{current_user.username}} only an Admin can view this message </p>
        <a href="/aHome">
          <button>For Admin</button>
        </a>
      {% endif %}
      <a href="/aHome">
        <button>For Admin</button>
      </a>
      <button type="button" disabled>For Admin</button>
      
      
    
        
{% endblock %}